
<div class="container">

 {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
            <div class="form-group">
                <label for="matricule">Matricule</label>
                 {{ form_widget(form.matricule, {'attr': {'class': 'form-control'}}) }}
                    
                 {{ form_errors(form.matricule, {'attr': {'class': 'text-danger'}}) }}
                     
            </div>
            <div class="form-group">
                   {{ form_label(form.marque) }}
                 {{ form_widget(form.marque, {'attr': {'class': 'form-control'}}) }}
                 {{ form_errors(form.marque, {'attr': {'class': 'text-danger'}}) }}

            </div>

                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="card-box">
                                  <label for="Image">Image</label>
                                    

                  
                                    {{ form_widget(form.urlphoto, {'attr': {'class': 'form-control'}}) }}
                                          {{ form_errors(form.urlphoto, {'attr': {'class': 'text-danger'}}) }}

                                </div>
                            </div>
                        </div>

                         <div class="form-group text-right m-b-0">
                   {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-info mt-2 text-white'}}) }}

                            <button type="reset" class="btn btn-secondary mt-2 ">reset</button>

                        </div>
  {{ form_end(form) }}

</div>

   

