
{% extends 'admin/base.html.twig' %}

{% block title %}Camion index{% endblock %}

{% block dashboard %}


<div class="container">
 <a href="{{ path('app_camion_index') }}">back to list</a>
    <h1>Camion {{ camion.marque }}</h1>
    <div class="panel-default">
         <div class="panel-heading">
               {{ camion.matricule }}
         </div>
           <div class="panel-body">
                  <div>
                     <img src="{{ asset('uploads/camion_image/') ~ camion.urlphoto }}" alt="camion photo" height="300" width="300">
                  </div>
             
                   
                      <a href="{{ path('app_camion_delete', {'id': camion.id}) }}"><button class="btn btn-danger margin-top-12 "> supprimer</button></a>    
                      <a href="{{ path('app_camion_edit', {'id': camion.id}) }}"><button class="btn btn-success"> edite</button></a>
                    
         </div>
    </div>

</div>
 
{% endblock %}
