
{% extends 'admin/base.html.twig' %}

{% block title %}Camion index{% endblock %}

{% block dashboard %}


<div class="container">
  <div>   <i class="bi bi-arrow-left-square-fill"></i><a href="{{ path('app_camion_index') }}">Liste Camion</a></div>
    <h1>Camion {{ camion.marque }}</h1>
    <div class="panel-default">
         <div class="panel-heading">
               {{ camion.matricule }}
         </div>
           <div class="panel-body">
                  <div>
                     <img src="{{ asset('uploads/camion_image/') ~ camion.urlphoto }}" alt="camion photo" height="300" width="300">
                  </div>
             
                   
                      <a href="{{ path('app_camion_delete', {'id': camion.id}) }}"><button class="btn btn-danger btn-sm mt-3 "> delete</button></a>    
                      <a href="{{ path('app_camion_edit', {'id': camion.id}) }}"><button class="btn btn-success btn-sm mt-3"> edit</button></a>
                    
         </div>
    </div>

</div>
 
{% endblock %}
