{% extends 'baseback.html.twig' %}

 {% block texte %}
       <h1 style="text-align: center;"> Afficher Dechet </h1> 

            <!-- Quick Action Toolbar Starts-->
          
            <!-- Quick Action Toolbar Ends-->
        
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
        
<div class="table-responsive" >
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">quantite</th>
      <th scope="col">date</th>
         <th scope="col">nom_cat </th>
      <th scope="col">id_bac </th>
            <th scope="col">action </th>

    </tr>
  </thead>
  <tbody>
    {% for Dechet in b %}
    <tr>
         <td> {{ Dechet.id }}</td> 
    <td> {{ Dechet.quantite }}</td> 
     <td> {{ Dechet.date|date('d-m-Y') }} </td> 
         <td> {{ Dechet.id_cat }}</td> 
     <td> {{ Dechet.id_bac}} </td> 

             <td> 
       <a href="{{path('modifierDechet',{'id':Dechet.id}) }}">modifier </a>
               <a href="{{path('deleteDechet',{'id':Dechet.id}) }}">supprimer </a>

              </td> 
    </tr>
  
      {% endfor %}

  </tbody>
</table>
</div>
{% do b.setPageRange(4) %}
{{ knp_pagination_render(b, 'bac/pagination.html.twig') }}
{% endblock %}