{% extends 'admin/base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block dashboard %}
<div><button><a href="{{ path('app_mission_new') }}">Create new</a></button> </div>
<div style="margin-left:760px;"><button> <a href="{{ path('app_mission_index_historique') }}">Historique Mission</a></button> </div>
   
    <h1>Mission index</h1>

    <table class="table">
        <thead>
            <tr>             
                <th>Description</th>
                <th>DateMission</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.description }}</td>
                <td>{{ mission.dateMission ? mission.dateMission|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_mission_show', {'id': mission.id}) }}"> <button class="btn btn-info">Details</button></a>
                    <a href="{{path('app_mission_parametrage', {'id': mission.id})}} "><button class="btn btn-warning">Affecter</button></a>
                    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}"><button class="btn btn-success">edite</button></a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
{% endblock %}
