{% extends 'admin/base.html.twig' %}

{% block title %}Mission{% endblock %}

{% block dashboard %}
<div class="container">
  <div>   <i class="bi bi-arrow-left-square-fill"></i><a href="{{ path('app_mission_index') }}">Liste Mission</a></div>

    <h1>Mission</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Description</th>
                <td>{{ mission.description }}</td>
            </tr>
            <tr>
                <th>DateMission</th>
                <td>{{ mission.dateMission ? mission.dateMission|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

   

    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}"><button class="btn btn-success btn-sm mt-3 "> edite</button></a>
     <a href="{{ path('app_camion_delete', {'id': mission.id}) }}"><button class="btn btn-danger btn-sm mt-3 "> delete</button></a>    


</div>
{% endblock %}
