{% extends 'admin/base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
<div style = "position:relative; left:350px; top:200px;">
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdComntr</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.idComntr }}</td>
                <td>{{ commentaire.contenu }}</td>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_commentaire_show', {'idComntr': commentaire.idComntr}) }}">show</a>
                    <a href="{{ path('app_commentaire_edit', {'idComntr': commentaire.idComntr}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_new') }}">Create new</a>
{% endblock %}
