{% extends 'client/base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
<div style = "position:relative; left:350px; top:20px;">

<div class="container" style="background-color: #66CDAA; padding: 30px;">
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Contenu</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
               
                <td>{{ commentaire.contenu }}</td>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_commentaire_showfront', {'idComntr': commentaire.idComntr}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_commentaire_editfront', {'idComntr': commentaire.idComntr}) }}">edit</a>
                     <a href="{{ path('app_commentaire_deletef', {'idComntr': commentaire.idComntr}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
