{% extends 'admin/base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
<div style = "position:relative; left:350px; top:200px;">
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdComntr</th>
                <td>{{ commentaire.idComntr }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaire.contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_index') }}">back to list</a>

    <a href="{{ path('app_commentaire_edit', {'idComntr': commentaire.idComntr}) }}">edit</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
