
{% extends 'client/front.html.twig' %}

{% block title %}les postes{% endblock %}

{% block body %}
<div style = "position:relative; left:250px; top:0px;">
<div class="container">
    <h1>Posts</h1>
    {% for post in posts %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/' ~ post.urlImg) }}" class="card-img" alt="{{ post.titre }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titre }}</h5>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-text"><small class="text-muted">Date: {{ post.date ? post.date|date('Y-m-d') : '' }}</small></p>
                        <div class="btn-group" role="group" aria-label="Post actions">
                            <a href="{{ path('app_post_showfront', {'idPost': post.idPost}) }}" class="btn btn-outline-primary">Show</a>
                            <a href="{{ path('app_post_editfront', {'idPost': post.idPost}) }}" class="btn btn-outline-secondary">Edit</a>
                            <a href="{{ path('app_commentaire_newfront') }}" class="btn btn-outline-success">Comment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>No posts found.</p>
    {% endfor %}
  
    </div>
{% endblock %}