
{% extends 'client/front.html.twig' %}

{% block title %}les postes{% endblock %}

{% block body %}
<div style = "position:relative; left:250px; top:0px;">
<div class="container">
    <h1>Posts</h1>






<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
                        <form method="post" class="forms-sample" style="margin-left: -42px" >
                            <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="titre">titre</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="description" >description</label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="date" >date</label>
                                </div>

                                <button type="Submit" class="btn btn-success btn-fw" style="margin: auto; ">Sort</button>
                            </div>
                        </form>

                    </div>

                    <ul class="navbar-nav w-100" style="margin-top: 18px;">
                        <li class="nav-item w-100">
                            <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="display: flex">
                                <div class="form-group col-md-5">
                                    <label style="margin-top: 11px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
                                    <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #191c24; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
                                        <option value="">Choisi un Critére</option>
                                        <option value="titre">titre</option>
                                        <option value="description">description</option>
                                        <option value="date">date </option>
                                        
                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <div class="input-group">
                                        <input name="Search" type="text" class="form-control" placeholder="Search Events" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-primary" type="Submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>







    {% for post in posts %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/' ~ post.urlImg) }}" class="card-img" alt="{{ post.titre }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titre }}</h5>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-text"><small class="text-muted">Date: {{ post.date ? post.date|date('Y-m-d') : '' }}</small></p>
                        <div class="btn-group" role="group" aria-label="Post actions">
                            <a href="{{ path('app_post_showfront', {'idPost': post.idPost}) }}" class="btn btn-outline-primary">Show</a>
                            <a href="{{ path('app_post_editfront', {'idPost': post.idPost}) }}" class="btn btn-outline-secondary">Edit</a>
                            <a href="{{ path('app_commentaire_newfront') }}" class="btn btn-outline-success">Comment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>No posts found.</p>
    {% endfor %}
  
    </div>
{% endblock %}