
{% extends 'client/base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<div style = "position:relative; left:200px; top:5px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ post.titre }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('uploads/' ~post.urlImg) }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.titre }}</h4>
                        <p class="card-text">{{ post.description }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Post details</h4>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
                                </tr>
                               {#   <li><a href="#">{{ number }} contenu</a></li>#}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer text-center">
                        <a href="{{ path('app_post_editfront', {'idPost': post.idPost}) }}" class="btn btn-primary">Edit</a>
                        {{ include('post/_deletef_form.html.twig') }}
                        <a href="{{ path('app_post_front') }}" class="btn btn-secondary">Back to list</a>
                    </div>
                    

                    ----
                    
 <div class="clearfix"></div>


                    <section class="comments">
                        <h4 class="headline_part margin-top-20 margin-bottom-35"> <i class="fa fa-comments" ></i>Comments <span class="comments-amount">({{ number }})</span></h4>
                        <ul>
                            {% if app.request.query.get("bad") == "bad" %}
                                <h4 class="text-danger mt-4 mb-4"> Erreur ajout commentaire !, Bad words</h4>
                            {% endif %}
                            {% if app.request.query.get("good") == "good" %}
                                <h4 class="text-success mt-4 mb-4"> commentaire ajouté avec succes</h4>
                            {% endif %}
                            
                        </ul>
                    </section>
                    <div class="clearfix"></div>

                    <div id="utf_add_review" class="utf_add_review-box">

                        <h3 class="utf_listing_headline_part margin-bottom-35"   > <i class="fa fa-pencil-square-o"></i> Ajouter votre commentaire</h3>

                        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                        <fieldset>
                            <div class="row">
                              
                                <div class="col-md-4">
                                    {{ form_row(form.date) }}
                                </div>
                            </div>
                            <div>
                                {{ form_row(form.contenu) }}
                            </div>
                        </fieldset>
                        <button class="button">Poster</button>
                        <div class="clearfix"></div>
                        {{ form_end(form) }}
                    </div>

--------

                </div>
            </div>
        </div>
    </div>
{% endblock %}
