

<div class="container">
  
 {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
            <div class="form-group mb-3">
                <label for="description">Description</label>
                 {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    
                 {{ form_errors(form.description, {'attr': {'class': 'text-danger'}}) }}
                     
            </div>
              <div class="form-group mb-3">
                <label for="ville">ville</label>
                 {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                    
                 {{ form_errors(form.ville, {'attr': {'class': 'text-danger'}}) }}
                     
            </div>
              <div class="form-group mb-3">
                <label for="region">region</label>
                 {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
                    
                 {{ form_errors(form.region, {'attr': {'class': 'text-danger'}}) }}
                     
            </div>
              <div class="form-group mb-3">
                <label for="description">rue</label>
                 {{ form_widget(form.rue, {'attr': {'class': 'form-control'}}) }}
                    
                 {{ form_errors(form.rue, {'attr': {'class': 'text-danger'}}) }}
                     
            </div>
            <div class="form-group">
                <label for="lieu">Lieu Signalisation</label>
          <input type="hidden" class="lat" id="latitude" name="latitude" value="{{ form.vars.value.lat }}">
                <input type="hidden" id="longitude" class="lng" name="longitude" value="{{ form.vars.value.lon }}">


            </div>
                   <div id="marker-message" style="display: none;">Please choose a place on the map with a marker.</div>
                    <div id="mapid" style="height: 400px;"></div>
                        <div class="form-group">

                            <div class="col-sm-12">
                                <div class="card-box">
                                  <label for="Image">Image</label>
                                    

                  
                                    {{ form_widget(form.urlphoto, {'attr': {'class': 'form-control'}}) }}
                                          {{ form_errors(form.urlphoto, {'attr': {'class': 'text-danger'}}) }}

                                </div>
                            </div>
                        </div>

                         <div class="form-group text-right m-b-0">
                   {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-success mt-2 text-white'}}) }}

                            <button type="reset" class="btn btn-secondary mt-2 ">reset</button>

                        </div>
  {{ form_end(form) }}
  
</div>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
     var map = L.map('mapid').setView([	36.862499, 10.195556], 13);
   
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
}).addTo(map);
const marker = L.marker([0, 0]).addTo(map);

var markerMessage = document.getElementById("marker-message");
try {
    window.onload = function() {
   map.on('click', function(e) {
  
     markerMessage.style.display = "none";
        let pos=e.latlng;
    console.log(e);
    console.log(pos);
   marker.setLatLng(e.latlng);
   document.querySelector(".lat").value=pos.lat;
   document.querySelector(".lng").value=pos.lng;
   console.log("heyyyy",document.querySelector(".lat").value);

});
if(marker.getLatLng()==null||marker.getLatLng().lat===0){
    console.log("wassef");
     markerMessage.style.display = "block";
}
};
   
} catch (error) {
    console.error(error);
}








</script>
{% endblock %}
