
{% extends 'admin/base.html.twig' %}

{% block title %}traiter{% endblock %}

{% block dashboard %}
<h1>Traiter signalisation</h1>

<div class="container">
  <div>   <i class="bi bi-arrow-left-square-fill"></i><a href="{{ path('app_signalisation_allSignalisation') }}">Liste signalisation</a></div>

    <div class="panel-default">
         <div class="panel-heading">
             <h1> {{ signalisation.region }}</h1>
         </div>
           <div class="panel-body">
                  <div>
                     <img src="{{ asset('uploads/signal_image/') ~ signalisation.urlphoto }}" alt="signalisation photo" height="300" width="300">
                                  <div>  {{ signalisation.ville }}  {{ signalisation.rue}} {{ signalisation.dateSignal ? signalisation.dateSignal|date('Y-m-d') : '' }}</div>

                  </div>
             
                    
         </div>
    </div>

</div>
 




{% endblock %}
