{% extends 'back.html.twig' %}

{% block title %}Charite index{% endblock %}

{% block body %}
<div style = "position:relative; left:300px; top:20px;">
    <h1>Charite index</h1>







<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
                        <form method="post" class="forms-sample" style="margin-left: -42px" >
                            <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="nomCharite">NomCharite</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="lieuCharite" >LieuCharite</label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="typeCharite" >TypeCharite</label>
                                </div>

                                <button type="Submit" class="btn btn-success btn-fw" style="margin: auto; ">Sort</button>
                            </div>
                        </form>

                    </div>

                    <ul class="navbar-nav w-100" style="margin-top: 18px;">
                        <li class="nav-item w-100">
                            <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="display: flex">
                                <div class="form-group col-md-5">
                                    <label style="margin-top: 11px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
                                    <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #191c24; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
                                        <option value="">Choisi un Critére</option>
                                        <option value="nomCharite">Nom charite </option>
                                        <option value="lieuCharite">Lieu charite </option>
                                        <option value="typeCharite">Type charite</option>
                                       
                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <div class="input-group">
                                        <input name="Search" type="text" class="form-control" placeholder="Search Events" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-primary" type="Submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>





    <table class="table">
        <thead>
            <tr>
                <th>IdCharite</th>
                <th>NomCharite</th>
                <th>LieuCharite</th>
                <th>TypeCharite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for charite in charites %}
            <tr>
                <td>{{ charite.idCharite }}</td>
                <td>{{ charite.nomCharite }}</td>
                <td>{{ charite.lieuCharite }}</td>
                <td>{{ charite.typeCharite }}</td>
                <td>
                    <a href="{{ path('app_charite_show', {'idCharite': charite.idCharite}) }}">show</a>
                    <a href="{{ path('app_charite_edit', {'idCharite': charite.idCharite}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_charite_new') }}">Create new</a>
{% endblock %}
