{% extends 'back.html.twig' %}

{% block title %}Charite index{% endblock %}

{% block body %}
    <h1>Charite index</h1>
<div style = "position:relative; left:300px; top:200px;">
    <table class="table">
        <thead>
            <tr>
                <th>IdCharite</th>
                <th>NomCharite</th>
                <th>LieuCharite</th>
                <th>TypeCharite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for charite in charites %}
            <tr>
                <td>{{ charite.idCharite }}</td>
                <td>{{ charite.nomCharite }}</td>
                <td>{{ charite.lieuCharite }}</td>
                <td>{{ charite.typeCharite }}</td>
                <td>
                    <a href="{{ path('app_charite_show', {'idCharite': charite.idCharite}) }}">show</a>
                    <a href="{{ path('app_charite_edit', {'idCharite': charite.idCharite}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_charite_new') }}">Create new</a>
{% endblock %}
