{% extends 'back.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    

    <table class="table">
        <thead>
            <tr>
               
                <th>Email</th>
                <th>Roles</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Naissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in UserByVerified %}
            <tr>
                
                <td>{{ user.email }}</td>
                <td>    {% if 'ROLE_ADMIN' in user.roles %}
                            {{"Admin"}}
                        {% else %}
                            {% if 'ROLE_COLLECTOR' in user.roles %}
                            {{"Collector"}}
                            {% else %}
                            {{"User"}}
                            {% endif %}
                        {% endif %}
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.naissance ? user.naissance|date('Y-m-d') : '' }}</td>
                
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('app_user_edit_roles', {'id': user.id}) }}">edit roles </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

    
{% endblock %}
